.completed-task-container {
  background-color: #a4ffa4;
  color: #6c757d;
  padding: 10rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.completed-task-container ul li {
  text-decoration: line-through;
  color: #464646;
}