<div class="task-container">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter a task</mat-label>
      <input matInput [(ngModel)]="newTask" (keydown.enter)="addTask()" />
    </mat-form-field>

    <button mat-button (click)="addTask()">Add Task</button>
  </div>
  
  <ul>
    <li *ngFor="let task of tasks">
      <span>{{ task.description }}</span>
      <span class="date">({{ task.createdAt | date: 'short' }})</span>
      <button mat-button (click)="openEditModal(task)">Edit</button>
      <button mat-button (click)="markCompleted(task)">Complete</button>
      <button mat-button (click)="deleteTask(task.id)">Delete</button>
    </li>
  </ul>
</div>

<div class="modal" *ngIf="editingTask">
  <div class="modal-content">
    <h3>Edit Task</h3>
      <input class="modal-input" [(ngModel)]="editingTask.description" /> <br>
    <button class="modal-btn1" (click)="saveTask()">Save</button>
    <button class="modal-btn2" (click)="closeEditModal()">Cancel</button>
  </div>
</div>
